html{
    background-color: #161A30;
    color: #F0ECE5;
    font-size: large;
    font-family: monospace;
}

/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */

div#nav{
    background-color: #31304D;
    display: flex;
    justify-content: end;
    margin: -8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

div#nav img#logo{
    position: absolute;
    left: 10px;
    width: 70px;
    height: 70px;
}


div#nav_plus{
    display: flex;
    justify-content: space-between;
}
div#nav_plus ul#nav_g{
    display: flex;
    justify-content: space-between;
}
div#nav_plus ul#nav_g li{
    margin: 1vw;
}
div#nav_plus ul#nav_d{
    display: flex;
    margin-left: 14vw;
}

div#nav ul{
    display: flex;
    list-style: none !important;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

div#nav ul li{
    margin: 10px;
}

div#nav ul li a{
    text-decoration: none;
    color: #F0ECE5;
    font-size: 20px;
}

div#nav ul li a:hover{
    color: #31304D;
    transform: scale(1.07);
    padding: 2px;
    background-color: #F0ECE5;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */

main#main_block{
    background-color: #31304D;
    color:#F0ECE5;
    flex-direction: row;
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}

main#main_block img{
    border-radius: 20px;
}

/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */


main#main_block_{
    background-color: #31304D;
    color:#F0ECE5;
    flex-direction: column;
    margin: 30px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
}


/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */

#form{
    display: flex;
    background-color: #31304D;
    padding: 15px;
    margin: 30px;
    border-radius: 15px;
    text-align: center;
    list-style-type: none;
}
#form ul{
    display: none;
}

/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */


@media only screen and (max-width: 775px){
    div#nav img#logo{
        width: 0px;
    }
}


@media only screen and (max-width: 600px) {
    /* Add your responsive styles here */
    div#nav {
        flex-direction: column;
        align-items: center;
    }
 
    div#nav_plus ul#nav_g {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    div#nav_plus ul#nav_d {
        flex-direction: column;
        margin-left: 0;
    }
}
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */




#formulaire_form{
    background-color: #31304D;
    padding: 15px;
    display: block;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#formulaire_form input{
    display: block;
    margin-bottom: 10px;
}

