{%load static%}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Memory Game - Leaderboard</title>
        <link rel="stylesheet" href="{% static 'Myapp/style.css' %}">
    </head>
    <body>
        <header>


            <div id="nav">
                <div id="nav_logo">
                    <img id="logo" src="https://i.ibb.co/b6DCGfb/DALL-E-2023-12-04-10-42-11-removebg-preview.png" alt="DALL-E-2023-12-04-10-42-11-removebg-preview" border="0">
                </div>
                <div id="nav_plus">
                    <ul id="nav_g">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'profils' %}">Account</a></li>
                        <li><a href="{% url 'leaderboard'%}">Leaderboard</a></li>
                        <li><a href="{% url 'memory' %}">Memory</a></li>
                        <li><a href="">AI</a></li>
                    </ul>

                    <ul id="nav_d">
                        <li><a href="{%url 'login'%}">Log In</a></li> 
                        <li><a href="{%url 'register'%}">Sign Up</a></li>
                    </ul>
                </div>
            </div>
             
        </header>

        <main id="main_block_">
            <h2>Leaderboard</h2>
            username: {{username}}<br>
            <br><br><br><br>
        </main>
    </body>
</html>