{% load static %}
<!DOCTYPE html>
<html lang="en">
     
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game - Login</title>
    <link rel="stylesheet" href="{% static 'Myapp/style.css' %}">  
</head>
<body>
    <header>
        <div id="nav">
            <div id="nav_logo">
                <img id="logo" src="https://i.ibb.co/b6DCGfb/DALL-E-2023-12-04-10-42-11-removebg-preview.png" alt="DALL-E-2023-12-04-10-42-11-removebg-preview" border="0">
            </div>
            <div id="nav_plus">
                <ul id="nav_g">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profils' %}">Account</a></li>
                    <li><a href="{% url 'leaderboard'%}">Leaderboard</a></li>
                    <li><a href="{% url 'memory' %}">Memory</a></li>
                    <li><a href="">AI</a></li>
                </ul>

                <ul id="nav_d">
                    <li><a href="{%url 'login'%}">Log In</a></li> 
                    <li><a href="{%url 'register'%}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}
    <div id="form">
        <h2>Login</h2>
        <form method=POST class="form" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
            <label for="id_username" class="form-label">Username:</label>
            <input type="text" name="username" id="id_username" class="form-control" required>
            </div>
            <br>
            <div class="mb-3">
            <label for="id_password" class="form-label">Password:</label>
            <input type="password" name="password" id="id_password" class="form-control" required>
            </div>
            <br>
            <div class="text-center">
            <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>