{% load static %}
<!DOCTYPE html>
<html lang="en">
     
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'Myapp/style.css' %}">  
</head>
<body>
    <header>
        <div id="nav">
            <div id="nav_logo">
                <img id="logo" src="https://i.ibb.co/b6DCGfb/DALL-E-2023-12-04-10-42-11-removebg-preview.png" alt="DALL-E-2023-12-04-10-42-11-removebg-preview" border="0">
            </div>
            <div id="nav_plus">
                <ul id="nav_g">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'profils' %}">Account</a></li>
                    <li><a href="{% url 'leaderboard'%}">Leaderboard</a></li>
                    <li><a href="{% url 'memory' %}">Memory</a></li>
                    <li><a href="">AI</a></li>
                </ul>

                <ul id="nav_d">
                    <li><a href="{%url 'login'%}">Log In</a></li> 
                    <li><a href="{%url 'register'%}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </header>
    <center><h1>Login</h1></center>
    <form method="post" action="{% url 'login' %}" id="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="formulaire_form">
       <p>Username : <input type="text" name="username" placeholder="Enter your username"></p>
       <p>Password : <input type="password" name="password" placeholder="Enter your password"></p>
        <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>